.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* и элемента с модификатором вида ключ-значение */
.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  background-image: url("../images/logo_place_header.svg");
  left: 64px;
  top: 30px;
  position: absolute;
}

.logo_place_footer {
  background-image: url("../images/logo_place_footer.svg");
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  max-width: 175px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}

.table {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 1100px;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table__heading {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__heading_theme_dark {
  width: 60%;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 20px;

}

.table__text_theme_dark {
  margin-top: 20px;
}
