.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.content {

}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

/* и элемента с модификатором вида ключ-значение */


.table__heading_theme_dark {
  width: 60%;

}

.table__text_theme_dark {
  margin-top: 20px;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place-header {
  background-image: url("../images/logo_place_header.svg");
  left: 64px;
  top: 30px;
  position: absolute;
}

.header__title {
  padding-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  width: 730px;
}

.header__main-illustration {
  background-image: url("../images/header-image.png");
  position: absolute;
  width: 765px;
  height: 608px;
  background-size: cover;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.description {
  margin: 100px 0 0 100px;
  padding: 0;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  min-width: 784px;
  margin: 0 auto;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
  margin-top: 0;
  padding-top: 0;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  margin: 100px 0 20px 0;
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-title_theme_dark {
  color: white;
  margin-top: 0;
}

.section-subtitle {
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.section-subtitle_theme_dark {
  color: white;
}

.table {
  display: flex;
  margin: 0 auto;
  width: 1100px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  list-style: none;
  width: 250px;
  margin-top: 60px;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table__heading {
  margin-top: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: left bottom;
  height: 890px;
  position: relative;
  background-color: #f2f2f2;
}

.feynman__link {
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  color: #2f80ed;
  text-decoration: none;
}

.feynman__subtittle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin-top: 70px;
}

.feynman__title {
  width: 648px;
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url("../images/kaufman-triangle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: -227px;
  top: 0;
}

.footer {
  min-height: 350px;
  display: flex;
  background-color: #1f1f1f;
  position: relative;
  color: white;
  margin-bottom: 40px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  position: relative;
}

.logo_place_footer {
  background-image: url("../images/logo_place_footer.svg");
  top: 0;
  left: 0;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  left: 0;
  bottom: 0;
  position: absolute;
  line-height: 25px;
  font-size: 18px;
}

.footer__column_content_info {
  display: flex;
  flex-direction: column;
}

.footer__column-heading {
  display: flex;
  margin: 0;
  padding-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-link {
  text-decoration: none;
  color: white;
}

.footer__column_content_social {
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  margin: 0 auto;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}
